root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csproj,dcproj,sln}]
indent_style = space
indent_size = 2

[*.{cs,csproj}]
charset = utf-8-bom

[*.cs]
indent_size = 4

[*.proto]
indent_style = tab
indent_size = 4

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
